/*index*/
body {
    background-color: #F5EBE0;
    display: flex; 
    flex-direction: column; 
    max-width:100vw;
    margin: 0 auto;

}

hr.solid {
    border-top: 2px solid #707070;
}

h1 {
    font-family: "Quattrocento";
    font-weight: 200;
    color: white;
    opacity: 70%;
}

h2 {
    font-family: "Quattrocento";
    font-weight: 200;
    font-size: 3rem;
}


input {
    border: none;
    background: transparent;
    font-family: "Source Sans Pro";
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}

input:focus {
    outline: none;
}

::placeholder {
    color: white;
    opacity: 70%;
}

#index-page {
    width: 100vw;
    height: 50rem;
    background: url("./public/the-revolt_web.jpg") no-repeat center;
    background-size: cover;

}


.header-nav-index {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-nav-index > a {
    text-decoration: none;
    font-family: "Source Sans Pro";
    color: white;
    opacity: 70%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 9%;
    text-align: center;
}

.intro-title {
    font-family: "Quattrocento";
    font-size: 5rem;
    font-weight: 100;
}

.intro-p {
    font-family: "Source Sans Pro";
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
}

.discover-title {
    display: flex;
    justify-content: center;
}

.products-grid-container {
    display: flex;
    margin: 4% 0%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card-image {
    width: 25rem;
    height: 30rem;
    object-fit: cover;
}

.product-description {
    font-family: "Source Sans Pro";
    color: #2C2C2C;

}

.product-price {
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
}

.product-name {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.footer-grid {
    display: flex;
    flex-direction: row;
    margin: 4% 5%;
    justify-content: space-between;


}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-column>h3 {
    font-family: "Source Sans Pro";
    color: #2C2C2C;
    text-transform: uppercase;
    font-weight: 600;
}

.footer-column>a {
    text-decoration: none;
    font-family: "Source Sans Pro";
    color: #2C2C2C
}

.bag-link-index {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    opacity: 70%;

}

/*search page*/


.header-nav > h1 {
    font-family: "Quattrocento";
    font-weight: 200;
    color: black;
    opacity: 70%;
}

.header-nav > ::placeholder {
    color: black;
    opacity: 70%;
}


.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.header-nav > a {
    text-decoration: none;
    font-family: "Source Sans Pro";
    color: black;
    opacity: 70%;
}

.bag-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: black;
    opacity: 70%;

}

.results {
    font-family: "Source Sans Pro";
    color: "black";
    opacity: 70%;
    font-weight: bold;
    margin: 1% 3%; 
}

/*shopping cart*/

.cart-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: "Quattrocento";
    font-size: 1.3rem;
    font-weight: 200;
}

.products {
    display: flex;
    flex-direction: column;
}

.individual-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Quattrocento";
    font-size: 1rem;
    align-items: center;
    flex-wrap: nowrap;
}

.product-cart-image{
    height: 15rem;
    margin: 1rem 0rem;
   
}

.checkout > p {
    font-family: "Source Sans Pro";
    font-weight: bold;
    opacity: 90%;
}

.checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 15%;
    

}

.counter {
    width: 3rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:  flex-end;
   
}
.counter input {
    width: 3rem;
    height: 2rem;
    font-size: 1.3rem;
    text-align: center;
    background: white;
    font-family: "Source Sans Pro";
    border-radius: 0.3rem;
}
.counter span {
    font-size: 1.3rem;
    padding: 0 1rem;
    cursor: pointer;
    color: black;
    user-select: none;
}
