header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    padding: 0 10%;
    height: 8rem;
}

 
  
  @media (max-width: 600px) {

    header{
        padding: 0% 4%;
        height: 5rem;
        justify-content: space-between;
    }
    .logo img{
        width: 100px;
    }

    .searchTerm{
        display: none;
    }

    .searchIcon{
        font-size: 20px;
        position: relative;
        top: 0;
        right: 0;
        transform: none;
    }
  }